.card-container {
  background: #ffffff;
  // margin: 15px;
  // position: absolute;
  width: 100%;
  // padding: 30px 0;
  // margin-top: 15px;
  margin: 15px auto;
  // max-width: var(--pageMaxWidth);
  border-radius: 14px;
  // border-radius: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1605);
  // border-radius: 2px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.205);
}
